Data/CD/JunYi/PreOperate.py
Data/CD/JunYi/relations.csv
Data/CD/JunYi/test-origin.csv
Data/CD/JunYi/test.csv
Data/CD/JunYi/train.csv
Data/KT/algebra_5_6/master_processed.txt
Data/KT/algebra_5_6/model.pt
Data/KT/algebra_5_6/train_processed.txt
Data/KT/algebra_6_7/master_processed.txt
Data/KT/algebra_6_7/train_processed.txt
